*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  background-color: #ffffff; }

body {
  font-family: 'Roboto', sans-serif !important; }

.u-heading-heavy {
  font-size: 20rem !important;
  font-weight: 700 !important;
  line-height: 15rem !important; }

.u-heading-heavy-custom {
  font-size: 23rem !important;
  font-weight: 700 !important;
  line-height: 15rem !important; }

.u-heading-primary-heavy {
  font-size: 7rem !important;
  font-weight: 600; }

.u-heading-primary {
  font-size: 4rem !important;
  font-weight: 600; }

.u-heading-m {
  font-size: 3rem !important;
  font-weight: 600; }

.u-heading-sm {
  font-size: 2rem !important;
  font-weight: 600; }

.u-heading-s {
  font-size: 2.5rem !important;
  font-weight: 600; }

.u-heading-xs {
  font-size: 1.5rem !important; }

.u-dot-heavy {
  font-size: 6rem !important; }

.u-text-align-center {
  text-align: center !important; }

.u-text-align-left {
  text-align: left !important; }

.u-block-text {
  display: block !important; }

.u-text-italic {
  font-style: italic !important; }

.u-vertical-align {
  vertical-align: bottom !important; }

.u-padding-sm {
  padding: 1.5rem !important; }

.u-padding-md {
  padding: 2rem !important; }

.u-padding-lg {
  padding: 5rem !important; }

.u-padding-top-xl-custom {
  padding-top: 15rem !important; }

.u-padding-top-xl {
  padding-top: 9rem !important; }

.u-padding-top-lg-text {
  padding-top: 3rem !important; }

.u-padding-top-lg {
  padding-top: 2rem !important; }

.u-padding-top-m {
  padding-top: 1rem !important; }

.u-padding-top-6 {
  padding-top: .6rem !important; }

.u-padding-left-xl {
  padding-left: 10rem !important; }

.u-margin-top-lg {
  margin-top: 5rem !important; }

.u-margin-top-l {
  margin-top: 3rem !important; }

.u-margin-top-m {
  margin-top: 2rem !important; }

.u-margin-top-sm {
  margin-top: 1rem !important; }

.u-margin-bottom-lg {
  margin-bottom: 5rem !important; }

.u-margin-bottom-l {
  margin-bottom: 3rem !important; }

.u-margin-bottom-m {
  margin-bottom: 2rem !important; }

.u-margin-bottom-s {
  margin-bottom: 1rem !important; }

.u-margin-left-m {
  margin-left: 2rem !important; }

.u-margin-left-s {
  margin-left: 1rem !important; }

.u-margin-lg {
  margin: 5rem !important; }

.u-white-text {
  color: #ffffff !important; }

.u-bluedark-text {
  color: #0090ff !important; }

.u-bluelight-text {
  color: #48afff !important; }

.u-orange-text {
  color: #FA7921 !important; }

.u-darkgray-text {
  color: #8C908E !important; }

.u-error-text {
  color: #F4766B !important; }

.u-success-text {
  color: #73AB84 !important; }

.u-violet-text {
  color: #6457A6 !important; }

.u-yellow-text {
  color: #FABC3C !important; }

.u-bg-primary-light {
  background-color: #48afff !important; }

.u-bg-primary-dark {
  background-color: #0090ff !important; }

.u-bg-main {
  background-color: #EEF5F9 !important; }

.u-bg-transparent {
  background-color: transparent !important; }

.u-display-inline {
  display: inline-block !important; }

.u-relative-position {
  position: relative !important; }

.u-width-height-100 {
  margin: auto !important; }

.u-container-center {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important; }

.u-container-center-custom {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(0, -50%) !important; }

.u-container-center-custom-alert {
  position: absolute !important;
  top: 15% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important; }

.u-border-m {
  border: 0.2rem solid #E8E5E8; }

.u-no-margin-padding {
  padding: 0 !important;
  margin: 0 !important; }

.u-text-align-left {
  text-align: left !important; }

.u-text-align-right {
  text-align: right !important; }

.u-custom-width {
  width: 80rem !important; }

.u-custom-width-xl {
  width: 40rem !important; }

.u-custom-width-lg {
  width: 30rem !important; }

.u-custom-width-m {
  width: 20rem !important; }

.u-custom-width-sm {
  width: 10rem !important;
  text-align: center !important; }

.u-bold-text {
  font-weight: 500 !important; }

.u-label-error {
  background-color: #F4766B !important;
  color: #ffffff !important;
  padding: .5rem 1rem !important; }

.u-label-success {
  background-color: #73AB84 !important;
  color: #ffffff !important;
  padding: .5rem 1rem !important; }

.u-cursor-pointer {
  cursor: pointer !important; }

.grid__mui {
  margin: 0 !important;
  padding: .5rem !important; }

.paper__mui {
  padding: .5rem; }

.header__logo {
  max-width: 250px;
  width: 100%;
  height: auto; }

.header__logo--navigation {
  max-width: 6rem;
  width: 100%;
  height: auto;
  text-align: left; }

.login__container {
  background-color: transparent !important; }

.login__paper {
  width: 23%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media (max-width: 87.5em) {
    .login__paper {
      width: 30%; } }
  @media (max-width: 68.75em) {
    .login__paper {
      width: 35%; } }
  @media (max-width: 62.5em) {
    .login__paper {
      width: 40%; } }
  @media (max-width: 37.5em) {
    .login__paper {
      width: 95%;
      left: 50%; } }
