//Colors
$color-main-background: #EEF5F9;
$color-primary: #7ed56f;
$color-primary-dark: #0090ff;
$color-primary-light: #48afff;
$color-dark-gray: #8C908E;
$color-gray: #E8E5E8;
$color-lightgray: #3E5569;
$color-error: #F4766B;
$color-dark-violet: #6457A6;
$color-light-violet: #9DACFF;
$color-yellow: #FABC3C;

$color-white: #ffffff;
$color-black: #000000;
$color-orange: #FA7921;

$color-success: #73AB84;

// Font size
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
